flask==3.0.3
flask-cors==4.0.1
opencv-python-headless==4.9.0.80
numpy==1.26.4
pillow==10.3.0
waitress==3.0.0
tensorflow==2.16.1
scikit-learn==1.4.2
joblib==1.4.2
matplotlib==3.8.4
firebase-admin==6.5.0
python-dotenv==1.0.1
psutil==5.9.8
requests==2.32.3